<div class="menu hide">
    <button class="menu-close open">
        {{Icon iconName="menu_close"}}
    </button>
    <div class="menu-ul">
        <div class="menu-ul-li">чем можем помочь</div>
        <div class="menu-ul-li">доп. услуги</div>
        <div class="menu-ul-li">бренды и бутики</div>
        <div class="menu-ul-li">схема сотрудничества</div>
        <div class="menu-ul-li">доп. преимущества</div>
        <div class="menu-ul-li">о нас</div>
        <div class="menu-ul-li">вопросы</div>
    </div>
    <div class="menu-bottom">
        <a href="#" class="menu-bottom-item">Facebook</a>
        <a href="#" class="menu-bottom-item">Instagram</a>
        <a href="#" class="menu-bottom-item">Vkontakte</a>
    </div>
</div>