<div class="menu hide">
    <button class="menu-close open">
        {{Icon iconName="menu_close"}}
    </button>
    <div class="menu-ul">
        <a href="#line" class="menu-ul-li">чем можем помочь</a>
        <a href="#work" class="menu-ul-li">доп. услуги</a>
        <a href="#title" class="menu-ul-li">бренды и бутики</a>
        <a href="#plus" class="menu-ul-li">схема сотрудничества</a>
        <a href="#dop" class="menu-ul-li">доп. преимущества</a>
        <a href="#n1" class="menu-ul-li">о нас</a>
        <a href="#que" class="menu-ul-li">вопросы</a>
    </div>
    <div class="menu-bottom">
        <a href="#" class="menu-bottom-item">Facebook</a>
        <a href="#" class="menu-bottom-item">Instagram</a>
        <a href="#" class="menu-bottom-item">Vkontakte</a>
    </div>
</div>