
{{> scripts/scripts}}

<footer class="wrapper-header-top footer">
    <a href="#" class="footer-pol pol">Политика конфиденциальности  </a>
    <div class="footer-cop">© Fashion Service Все права защищены.</div>
    <a href="#" class="footer-pol">Политика конфиденциальности  </a>
    <div class="footer-soc">
        <a href="#" class="footer-soc-item">Facebook</a>
        <a href="#" class="footer-soc-item">Instagram</a>
        <a href="#" class="footer-soc-item">Vkontakte</a>
    </div>
</footer>