<div class="thanx-trigger" data-popup="thanx">
</div>
<div class="blur">
    <div class="popup modal-1 modal popup-thanx">
        <div class="modal__close popup__close">
            {{Icon iconName="close"}}
        </div>
        <div class="popup-thanx-title">
            Спасибо, ваша заявка отправлена!
        </div>
        <div class="popup-thanx-text">
            Долго ждать?<br>
            Наберите нас прямо сейчас:
        </div>
        <div class="popup-thanx-phone">
            +7 (000) 000 00 00
        </div>
        <div class="popup-thanx-mes">
            Или добавляйтесь с мессенджера
        </div>
        <div class="popup-thanx-items">
            <a href="#" class="popup-thanx-items-item">
                {{Icon iconName="WA"}}
            </a>
            <a href="#" class="popup-thanx-items-item">
                {{Icon iconName="VIB"}}
            </a>
            <a href="#" class="popup-thanx-items-item">
                {{Icon iconName="TELEG"}}
            </a>
            <a href="#" class="popup-thanx-items-item">
                {{Icon iconName="GMAIL"}}
            </a>
        </div>
        <div class="button popup-thanx-button popup__close">
            Хорошо
        </div>
    </div>
    <div class="popup popup-form modal-1 modal">
        <div class="modal__close popup__close">
            {{Icon iconName="close"}}
        </div>

        <div class="modal__title">
            Укажите ваши актуальные данные, и мы свяжемся с вами в течении 15 мин
        </div>
        
        <form action="#" class="modal__form ">
            <input type="text" name="name" placeholder="Ваше имя">
            <input class="phone-mask" type="text" name="phone" placeholder="Ваш телефон">
            <input type="text" name="email" placeholder="Ваша электронная почта">
            <label>
                <input type="checkbox" name="check">
                <div class="check">
                    <div class="check-el">
                    </div>
                </div>
                <span>
                    Я принимаю условия пользовательского соглашения и согласен на обработку 
                    <a href="pol.html">персональных данных</a>
                </span>
            </label>
            <button class="button modal__form-button">
                Оставить заявку
            </button>
        </form>

    </div>
</div>