<header class="header">
    <div class="wrapper-header-top header-top">
        <button class="header-top-menu open">
            {{Icon iconName="head_menu"}}
        </button>

        <button class="header-top-city">
            {{Icon iconName="city"}}
            Москва
        </button>
        <button class="header-top-right-lang lang">En</button>
        <div class="header-top-logo">
            <img src="static/img/content/logo.png" alt="">
        </div>
        <img class="logo" src="static/img/content/FS.png" alt="">
        <div class="header-top-right">
            <button class="header-top-right-lang">En</button>
            <div class="header-top-right-number">
                <span>+7 (912) 000-00-00</span>
                {{Icon iconName="phone"}}
            </div>
        </div>
    </div>
    <div class="wrapper-header-bottom header-bottom">
        <a href="#line" class="header-bottom-item">чем можем помочь</a>
        <a href="#work" class="header-bottom-item">доп. услуги</a>
        <a href="#title" class="header-bottom-item">бренды и бутики</a>
        <a href="#plus" class="header-bottom-item">схема сотрудничества</a>
        <a href="#dop" class="header-bottom-item">доп. преимущества</a>
        <a href="#n1" class="header-bottom-item">о нас</a>
        <a href="#que" class="header-bottom-item">вопросы</a>
    </div>
</header>
