<main class="main">
    
    {{> popup/popup}}

    <div class="first">
        <div class="wrapper first-container">
            <img src="static/img/content/star3.png" alt="">
            <h1>Приватный шопинг сервис для байеров, шоперов, фешн-блогеров, стилистов и селебрити</h1>
            <button class="button first-container-button" data-popup="form">
                Подключиться к сервису
            </button>
        </div>
    </div>
    
    <div id="toTop" data-popup="form">
        {{Icon iconName="phone_form"}}
    </div>

    <div class="wrapper second" id="#second">
        <div class="second-left">
            <div class="second-left-text">CashBack &nbsp;и еще 2 услуги, делающих коммерческий шоппинг в Европе выгоднее</div>
            <a href="#" class="second-left-a">Узнать подробности</a>
        </div>
        <div class="second-right">
            <div class="second-right-item">
                <div class="second-right-item-title">CashBack</div>
                <div class="second-right-item-text">Поможем получить возврат налогов на дистанционной покупки брендовой одежды и обуви в странах ЕС — без бюрократии, рисков и таможни. </div>
            </div>
            <div class="second-right-item">
                <div class="second-right-item-title">Доставка покупок</div>
                <div class="second-right-item-text">Доставка покупок по всему миру через транспортную компанию КАРГО или любой курьерской службы на ваш выбор, Спец предложение для партнеров из стран: Россия, Беларусь, Казахстан и Украина.</div>
            </div>
            <div class="second-right-item">
                <div class="second-right-item-title">Персональный шоппер</div>
                <div class="second-right-item-text">Русскоязычные менеджеры сервиса найдут товары по вашему списку, сопроводят во время покупок и возьмут на себя всю работу по возврату налогов.</div>
            </div>
        </div>
        <a href="#" class="second-left-a zzz">Узнать подробности</a>
    </div>
    <div class="wrapper-header-top line">
        <div class="line-container">
            <div class="line-container-title">Дополнительная помощь, делаем процесс еще удобнее </div>
            <div class="line-container-middle">
                <div class="line-container-middle-img">
                    <img src="/static/img/content/far.png" alt="">
                    <img src="/static/img/content/gal.png" alt="">
                    <img src="/static/img/content/myt.png" alt="">
                    <img src="/static/img/content/lui.png" alt="">
                    <img src="/static/img/content/la.png" alt="">
                </div>
                {{Icon iconName="arright"}}
                {{Icon iconName="arright2"}}
                {{Icon iconName="ar1"}}
                <div class="line-container-middle-idk">Транзитный склад</div>
                <div class="line-container-middle-items">
                    <div class="line-container-middle-items-item">
                        <div class="line-container-middle-items-item-text">KZ</div>
                        {{Icon iconName="artop"}}
                        {{Icon iconName="artop2"}}
                        {{Icon iconName="ar2"}}
                    </div>
                    <div class="line-container-middle-items-item">
                        <div class="line-container-middle-items-item-text">UA</div>
                        {{Icon iconName="armid"}}
                        {{Icon iconName="armid1"}}
                        {{Icon iconName="ar3"}}
                    </div>
                    <div class="line-container-middle-items-item">
                        <div class="line-container-middle-items-item-text">RU</div>
                        {{Icon iconName="armid2"}}
                        {{Icon iconName="armid3"}}
                        {{Icon iconName="ar4"}}
                    </div>
                    <div class="line-container-middle-items-item">
                        <div class="line-container-middle-items-item-text">BY</div>
                        {{Icon iconName="arbottom"}}
                        {{Icon iconName="arbot2"}}
                        {{Icon iconName="ar5"}}
                    </div>
                </div>
            </div>
            <div class="wrapper line-container-bottom">
                <div class="line-container-bottom-item">
                    <div class="line-container-bottom-item-title">Виртуальный адрес</div>
                    <div class="line-container-bottom-item-text">Оформляйте покупки на один адрес в Европе — заказы из разных бутиков обработают на консолидированном складе и отправят в любую страну одной посылкой.</div>
                    <a href="#" class="line-container-bottom-item-a">Узнать подробности</a>
                </div>
                <div class="line-container-bottom-item">
                    <div class="line-container-bottom-item-title">Drop Shipping</div>
                    <div class="line-container-bottom-item-text">Закажите быструю доставку на адрес ваших клиентам, покупок курьерскими службами или партнерской транспортной компанией в любую точку мира.</div>
                    <a href="#" class="line-container-bottom-item-a">Узнать подробности</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper title">
        <div class="title-text">В списке наших партнеров  &nbsp;&nbsp;200+ брендовых бутиков и элитных торговых центров
        </div>
    </div>
    <div class="line2">
        <div class="line2-container">
            <img class="line2-container-item" src="static/img/content/l1.png" alt="">
            <img class="line2-container-item" src="static/img/content/l2.png" alt="">
            <img class="line2-container-item" src="static/img/content/l3.png" alt="">
            <img class="line2-container-item" src="static/img/content/l4.png" alt="">
            <img class="line2-container-item" src="static/img/content/l5.png" alt="">
            <img class="line2-container-item" src="static/img/content/l6.png" alt="">
            <img class="line2-container-item" src="static/img/content/l7.png" alt="">
            <img class="line2-container-item" src="static/img/content/l8.png" alt="">
            <img class="line2-container-item" src="static/img/content/l1.png" alt="">
            <img class="line2-container-item" src="static/img/content/l2.png" alt="">
            <img class="line2-container-item" src="static/img/content/l3.png" alt="">
            <img class="line2-container-item" src="static/img/content/l4.png" alt="">
            <img class="line2-container-item" src="static/img/content/l5.png" alt="">
            <img class="line2-container-item" src="static/img/content/l6.png" alt="">
            <img class="line2-container-item" src="static/img/content/l7.png" alt="">
            <img class="line2-container-item" src="static/img/content/l8.png" alt="">
            <img class="line2-container-item" src="static/img/content/l1.png" alt="">
            <img class="line2-container-item" src="static/img/content/l2.png" alt="">
            <img class="line2-container-item" src="static/img/content/l3.png" alt="">
            <img class="line2-container-item" src="static/img/content/l4.png" alt="">
            <img class="line2-container-item" src="static/img/content/l5.png" alt="">
            <img class="line2-container-item" src="static/img/content/l6.png" alt="">
            <img class="line2-container-item" src="static/img/content/l7.png" alt="">
            <img class="line2-container-item" src="static/img/content/l8.png" alt="">
            <img class="line2-container-item" src="static/img/content/l1.png" alt="">
            <img class="line2-container-item" src="static/img/content/l2.png" alt="">
            <img class="line2-container-item" src="static/img/content/l3.png" alt="">
            <img class="line2-container-item" src="static/img/content/l4.png" alt="">
            <img class="line2-container-item" src="static/img/content/l5.png" alt="">
            <img class="line2-container-item" src="static/img/content/l6.png" alt="">
            <img class="line2-container-item" src="static/img/content/l7.png" alt="">
            <img class="line2-container-item" src="static/img/content/l8.png" alt="">
            <img class="line2-container-item" src="static/img/content/l1.png" alt="">
            <img class="line2-container-item" src="static/img/content/l2.png" alt="">
            <img class="line2-container-item" src="static/img/content/l3.png" alt="">
            <img class="line2-container-item" src="static/img/content/l4.png" alt="">
            <img class="line2-container-item" src="static/img/content/l5.png" alt="">
            <img class="line2-container-item" src="static/img/content/l6.png" alt="">
            <img class="line2-container-item" src="static/img/content/l7.png" alt="">
            <img class="line2-container-item" src="static/img/content/l8.png" alt="">
        </div>
    </div>
    <div class="wrapper work">
        <img src="static/img/content/star.png" alt="">
        <div class="work-right">
            <div class="work-right-title">Простая схема сотрудничества работает на вашу выгоду</div>
            <div class="work-right-text li-1">
                Делайте покупки в брендовых бутиках и элитных торговых центров и выписывайте счета-фактуры на все товары, даже до 175€, на нашу компанию (реквизиты предоставим по запросу).
            </div>
            <div class="work-right-text li-2">
                Передавайте или отправляйте почтой чеки и счета нам — все документы на возврат налогов оформят наши специалисты.
            </div>
            <div class="work-right-text li-3">
                Получите деньги на карту в течение нескольких часов.
            </div>
        </div>
    </div>
    <div class="wrapper plus">
        <div class="plus-title">Процесс продуман до мелочей</div>
        <div class="plus-items">
            <div class="plus-items-item">
                <div class="plus-items-item-img">
                    {{Icon iconName="gift"}}
                </div>
                <div class="plus-items-item-title">Эксклюзивные условия</div>
                <div class="plus-items-item-text">200+ партнеров дают нашим клиентам специальные условия и закрытые прис-сэйлы раньше на 1,5 месяца раньше общедоступных.</div>
            </div>
            <div class="plus-items-item">
                <div class="plus-items-item-img">
                    {{Icon iconName="chart"}}
                </div>
                <div class="plus-items-item-title">Возврат налогов при покупке дистанционно</div>
                <div class="plus-items-item-text">CashBack услуга, позволяет вернуть налоги при дистанционного выкупа в любом брендовом бутике в ЕС.</div>
            </div>
            <div class="plus-items-item">
                <div class="plus-items-item-img">
                    {{Icon iconName="globe"}}
                </div>
                <div class="plus-items-item-title">Быстрая доставка по всему миру</div>
                <div class="plus-items-item-text">Отправим покупки вам или вашему клиенту в любую страну.</div>
            </div>
            <div class="plus-items-item">
                <div class="plus-items-item-img">
                    {{Icon iconName="album"}}
                </div>
                <div class="plus-items-item-title">Дополнительные выгоды при больших объемах</div>
                <div class="plus-items-item-text">При покупке от 10 000 € в неделю сделаем специальное предложение. </div>
            </div>
        </div>
    </div>
    <div class="wrapper n1">
        <div class="n1-title">Компания №1&nbsp;&nbsp; в Европе по возврату налогов от  коммерческого шоппинга который работает только по схеме B2B  с байерами, персональными шоперами, фэшн блогерами и стилистов</div>
        <div class="n1-text">
            «Сервис Fashion Service» — Fasion Service Group SRL это европейская компания со всеми лицензиями и разрешениями на деятельность. Наш центральный офис расположен в Бухаресте и имея представительства и ведет свою деятельность в основном  в Франции, Италии, Испании, Германии, Австрии и др. страны ЕС. <br> <br>

            Наша команда объединяет опытных юристов, менеджеров, специалистов по брендам, фотомоделей, логистов и поэтому наши клиенты получают экспертные консультации и безупречный сервис. 
        </div>
        <img src="static/img/content/star2.png" alt="">
    </div>
    <div class="wrapper que">
        <div class="que-title">Остались сомнения? Давайте разберемся </div>
        <div class="que-ul">
            <div class="que-ul-li1">
                <div class="que-ul-li1-title">
                    <div class="que-ul-li1-title-text li-12">Возврат налогов — законная процедура?</div>
                    <button class="button que-ul-li1-title-button">
                        <span class="pl1">+</span>
                        <span class="mi1 hide">-</span>
                    </button>
                </div>
                <div class="que-ul-li1-text hide">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga, excepturi dolor provident quibusdam, dolore, expedita laborum omnis illo harum ea explicabo? Quia esse laboriosam magnam tenetur nisi vitae id atque?</div>
            </div>
            <div class="que-ul-li2">
                <div class="que-ul-li2-title">
                    <div class="que-ul-li2-title-text li-22">С какими брендами вы работаете? </div>
                    <button class="button que-ul-li2-title-button">
                        <span class="pl2">+</span>
                        <span class="mi2 hide">-</span>
                    </button>
                </div>
                <div class="que-ul-li2-text hide">Со всеми премиальными брендами: DIOR, Jimmy Choo, Gucci, Dolce & Gabbana, Hermes, Chanel, Louis Vuitton, Versace и другими. Свяжитесь с нами, и мы отправим полный список брендов, бутиков и торговых центров. </div>
            </div>
            <div class="que-ul-li3">
                <div class="que-ul-li3-title">
                    <div class="que-ul-li3-title-text li-32">С клиентами из каких стран вы работаете? </div>
                    <button class="button que-ul-li3-title-button">
                        <span class="pl3">+</span>
                        <span class="mi3 hide">-</span>
                    </button>
                </div>
                <div class="que-ul-li3-text hide">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga, excepturi dolor provident quibusdam, dolore, expedita laborum omnis illo harum ea explicabo? Quia esse laboriosam magnam tenetur nisi vitae id atque?</div>
            </div>
        </div>
    </div>
    <div class="wrapper-header-top more">
        <div class="more-title">Покупки в бутиках могут обойтись еще доступнее и дешевле
        </div>
        <button class="button"><a href="#">Попробовать</a></button>
    </div>
</main>